/* Congo scheme */
:root {
    --color-neutral: 244, 253, 255;
    /* Gray */
    --color-neutral-50: 205, 208, 213;
    --color-neutral-100: 194, 197, 204;
    --color-neutral-200: 172, 176, 186;
    --color-neutral-300: 150, 155, 167;
    --color-neutral-400: 127, 134, 148;
    --color-neutral-500: 107, 114, 128;
    --color-neutral-600: 81, 87, 97;
    --color-neutral-700: 56, 60, 67;
    --color-neutral-800: 30, 32, 36;
    --color-neutral-900: 5, 5, 6;
    /* Red */
    --color-primary-50: 253, 231, 224;
    --color-primary-100: 251, 216, 205;
    --color-primary-200: 249, 186, 167;
    --color-primary-300: 246, 157, 129;
    --color-primary-400: 243, 127, 90;
    --color-primary-500: 240, 97, 52;
    --color-primary-600: 235, 69, 17;
    --color-primary-700: 183, 54, 13;
    --color-primary-800: 130, 38, 9;
    --color-primary-900: 78, 23, 6;
    /* Light Blue */
    --color-secondary-50: 255; 255; 255;
    --color-secondary-100: 255, 255, 255;
    --color-secondary-200: 255, 255, 255;
    --color-secondary-300: 239, 240, 243;
    --color-secondary-400: 215, 218, 226;
    --color-secondary-500: 192, 195, 209;
    --color-secondary-600: 168, 173, 191;
    --color-secondary-700: 145, 151, 174;
    --color-secondary-800: 113, 120, 150;
    --color-secondary-900: 88, 94, 119;
  }
  