/* Congo scheme */
:root {
    --color-neutral: 244, 253, 255;
    /* Gray */
    --color-neutral-50: 205, 208, 213;
    --color-neutral-100: 194, 197, 204;
    --color-neutral-200: 172, 176, 186;
    --color-neutral-300: 150, 155, 167;
    --color-neutral-400: 127, 134, 148;
    --color-neutral-500: 107, 114, 128;
    --color-neutral-600: 81, 87, 97;
    --color-neutral-700: 56, 60, 67;
    --color-neutral-800: 30, 32, 36;
    --color-neutral-900: 5, 5, 6;
    /* Blue */
    --color-primary-50: 255, 255, 255;
    --color-primary-100: 237, 245, 253;
    --color-primary-200: 201, 226, 248;
    --color-primary-300: 165, 207, 243;
    --color-primary-400: 129, 188, 238;
    --color-primary-500: 93, 169, 233;
    --color-primary-600: 44, 143, 226;
    --color-primary-700: 26, 114, 188;
    --color-primary-800: 19, 84, 139;
    --color-primary-900: 12, 54, 89;
    /* Pink */
    --color-secondary-50: 255, 255, 255;
    --color-secondary-100: 254, 245, 248;
    --color-secondary-200: 249, 209, 220;
    --color-secondary-300: 245, 172, 193;
    --color-secondary-400: 241, 136, 166;
    --color-secondary-500: 236, 99, 138;
    --color-secondary-600: 232, 63, 111;
    --color-secondary-700: 213, 26, 79;
    --color-secondary-800: 163, 20, 60;
    --color-secondary-900: 113, 14, 42;
  }
  