/* Congo scheme */
:root {
    --color-neutral: 247, 247, 247;
    /* Gray */
    --color-neutral-50: 205, 208, 213;
    --color-neutral-100: 194, 197, 204;
    --color-neutral-200: 194, 197, 204;
    --color-neutral-300: 194, 197, 204;
    --color-neutral-400: 127, 134, 148;
    --color-neutral-500: 107, 114, 128;
    --color-neutral-600: 81, 87, 97;
    --color-neutral-700: 56, 60, 67;
    --color-neutral-800: 30, 32, 36;
    --color-neutral-900: 5, 5, 6;
    /* Blue */
    --color-primary-50: 255, 255, 255;
    --color-primary-100: 255, 255, 255;
    --color-primary-200: 254, 254, 255;
    --color-primary-300: 215, 230, 253;
    --color-primary-400: 176, 205, 251;
    --color-primary-500: 137, 180, 250;
    --color-primary-600: 98, 155, 248;
    --color-primary-700: 59, 130, 246;
    --color-primary-800: 11, 97, 238;
    --color-primary-900: 8, 75, 184;
    /* Pink */
    --color-secondary-50: 255, 255, 255;
    --color-secondary-100: 254, 245, 248;
    --color-secondary-200: 249, 209, 220;
    --color-secondary-300: 245, 172, 193;
    --color-secondary-400: 241, 136, 166;
    --color-secondary-500: 236, 99, 138;
    --color-secondary-600: 232, 63, 111;
    --color-secondary-700: 213, 26, 79;
    --color-secondary-800: 163, 20, 60;
    --color-secondary-900: 113, 14, 42;
  }
  