/* Congo scheme */
:root {
  --color-neutral: 254, 253, 252;
  /* Gray */
  --color-neutral-50: 164, 174, 190;
  --color-neutral-100: 152, 163, 181;
  --color-neutral-200: 128, 142, 164;
  --color-neutral-300: 105, 121, 147;
  --color-neutral-400: 88, 101, 123;
  --color-neutral-500: 71, 82, 99;
  --color-neutral-600: 54, 62, 76;
  --color-neutral-700: 37, 43, 52;
  --color-neutral-800: 20, 23, 28;
  --color-neutral-900: 0, 0, 0;
  /* Green */
  --color-secondary-50: 255, 255, 255;
  --color-secondary-100: 247, 255, 249;
  --color-secondary-200: 207, 255, 216;
  --color-secondary-300: 166, 255, 183;
  --color-secondary-400: 125, 255, 149;
  --color-secondary-500: 84, 255, 116;
  --color-secondary-600: 43, 255, 83;
  --color-secondary-700: 3, 255, 50;
  --color-secondary-800: 0, 217, 41;
  --color-secondary-900: 0, 176, 33;
  /* Orange */
  --color-primary-50: 255, 255, 255;
  --color-primary-100: 255, 255, 255;
  --color-primary-200: 255, 255, 255;
  --color-primary-300: 255, 245, 237;
  --color-primary-400: 254, 224, 197;
  --color-primary-500: 253, 202, 157;
  --color-primary-600: 252, 180, 117;
  --color-primary-700: 251, 159, 77;
  --color-primary-800: 251, 137, 37;
  --color-primary-900: 242, 116, 5;
}
